<!--The whole content below can be removed with the new code.-->
<div class="container">
	<div class="col-sm-4">
		<h1>{{title}}</h1>
		<input type="text" [(ngModel)]="newSheepCount" placeholder="0"> 
		<input type="button" value="Add Sheep" (click)="addFlock(newSheepCount)"> Flock count: {{flock.length}}
		<input *ngIf="!pause" type="button" value="Pause" (click)="togglePause()">
		<input *ngIf="pause" type="button" value="Play" (click)="togglePause()">
	</div>
	<div class="col-sm-4">
		<div class="field">
			<div *ngFor="let sheep of flock">
				<sheep [sheep]="sheep" [pause]="pause"></sheep>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div id="builtBy">Built by Shannon Ware in Ireland.</div>
	</div>
	{{message}}
<div> <!-- class is container -->