<!--The whole content below can be removed with the new code.-->
<div class="container">
	<div class="col-sm-4">
		<h1>{{title}}</h1>
		<input type="button" value="Add Sheep" (click)="addSheep()"> Sheep: {{sheepCount}} flock: {{flock.length}}
	</div>
	<div class="col-sm-4">
		<div class="field">
			<div *ngFor="let sheep of flock">
				<sheep [sheep]="sheep"></sheep>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div id="builtBy">Built by Shannon Ware in Ireland.</div>
	</div>
	{{message}}
<div> <!-- class is container -->