@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy|Neucha');

.field {
	border: 6px solid green; 
	border-radius: 16px;
	height: 256px;
	width: 256px;
	background-color: #689F38;
}

input[type="text"] { width: 4em; }

h1 { font-family: 'Lakki Reddy', sans-serif; }

:host { font-family: 'Neucha', sans-serif; font-size: 1.4em;}